<div>
  <div class="add-post-form">
    <input type="text" [(ngModel)]="newPost.title" placeholder="Post title" />
    <textarea [(ngModel)]="newPost.body" placeholder="Post content"></textarea>
    <button (click)="addPost()">Add Post</button>
  </div>

  <dx-data-grid
    [dataSource]="posts"
    keyExpr="id"
    [columnAutoWidth]="true"
    [remoteOperations]="false"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    [showBorders]="true"
    [width]="'100%'"
  >
    <dxo-paging [pageSize]="10"></dxo-paging>

    <dxi-column dataField="title" caption="Заголовок"></dxi-column>
    <dxi-column dataField="body" caption="Текст"></dxi-column>

    <dxi-column type="buttons">
      <div>
        <dxi-button name="delete" (onClick)="deletePost($event)"> </dxi-button>
      </div>
    </dxi-column>
  </dx-data-grid>


</div>
