<div>
  <div class="add-post-form">
    <input type="text" [(ngModel)]="newPost.title" placeholder="Post title" />
    <textarea [(ngModel)]="newPost.body" placeholder="Post content"></textarea>
    <button (click)="addPost()">Add Post</button>
  </div>

  <dx-data-grid
    [dataSource]="posts"
    [showRowLines]="true"
    [showBorders]="true"
    [width]="'100%'"
  >
    <dxo-editing
      mode="row"
      [allowDeleting]="true"
      [useIcons]="true"
    ></dxo-editing>

    <dxi-column type="buttons" [width]="110">
      <ng-template dxTemplate="cellTemplate" let-data="data">
        <dxi-button (click)="deletePost(data.id)" name="delete"></dxi-button>
      </ng-template>
    </dxi-column>

    <dxi-column dataField="title">
      <ng-template dxTemplate="cellTemplate" let-data="data">
        <div class="custom-cell">{{ data.value }}</div>
      </ng-template>
    </dxi-column>

    <dxi-column dataField="body">
      <ng-template dxTemplate="cellTemplate" let-data="data">
        <div class="custom-cell">{{ data.value }}</div>
      </ng-template>
    </dxi-column>
  </dx-data-grid>
</div>
